.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  font-family: 'heebo', sans-serif;
  background-color: #272423;
}

.lottie {
  width: 100%;
  max-width: 700px;
  margin-bottom: 2rem;
}

.fadeInLeft {
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeInLeft 1s ease-in-out forwards;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInRight {
  opacity: 0;
  transform: translateX(50px);
  animation: fadeInRight 1s ease-in-out forwards;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* iPhone */
@media (max-width: 390px) {
  .lottie {
    width: 500px;
    /* max-width: 700px; */
  }
}